# 排除資料集
datasets/*

# 排除實驗結果
run/

# 排除模型權重與隱藏權重檔
*.keras
*.pth

# 排除 Python 虛擬環境或快取
__pycache__/

# 排除腳本
*.sh

# 排除分析用筆記本
analysis/

# 排除 Weight & Biases 資料夾
wandb/

# 排除實驗結果讀取程式
load_result.py

# 排除 FuseMoE 原始程式碼
FuseMoE-main/

# Flex-MoE
logs/
saves/